.home {
	height: 100%;
}

.home-tabs {
	display: flex;
	justify-content: space-between;
	padding-right: 30px;
	align-items: center;
}

.home-main {
	position: relative;
	height: 63%;
	/* background: red; */
}

.logout {
	height: 100px;
	width: 100px;
	position: absolute;
	top: -20px;
	right: 1vw;
	border: none;
	background: none;
	display: grid;
	place-items: center;
}
.logout > img {
	width: 5vw;
}

.home-item-input {
	text-align: center;
	height: 100%;
}

.user-info {
	display: flex;
	align-items: center;
}
.user-info > p {
	padding-bottom: 5px;
	font-weight: bold;
	margin-right: 30px;
	margin-left: 40px;
	font-size: 2.5vw;
}

.user-tab {
	padding-top: 10vh;
}

.input-cntr {
	background: white;
	margin-bottom: 7vh;
}

.home-btn {
	height: 100%;
}

.blok {
	display: flex;
	/* align-items: flex-end; */
	margin-right: 60px;
}

.home-item-select {
	height: 7vh;
	font-weight: 600;
	color: var(--text);
	border: none;
	border-radius: 8px;
	font-size: 18px;
	padding-left: 20px;
	padding-right: 10px;
	width: 30vw;
	text-align: center;
}

.product-item-input {
}

.product-item-input {
	height: 100%;
	width: 100%;
}
