.pages {
	height: 75vh;
	width: 90%;
	background: var(--accent);
	border-radius: 30px;
	position: relative;
}

.pages > p {
	font-weight: bold;
	text-align: center;
}

.role {
	position: absolute;
	top: 0;
	right: 10vw;
}
