.product-tab {
	height: 95%;
	/* background-color: red; */
	overflow-y: scroll;
	padding: 20px;
	display: grid;
}

.create-product-field:nth-of-type(2) {
	padding-left: 20px;
	overflow-y: scroll;
}

.product-input-cntr {
	height: 9vh;
}

.product-input-cntr > input {
	margin-bottom: 10px;
	border-radius: 0px;
	text-align: center;
	/* width: 200px; */
}

.product-row {
	display: flex;
	justify-content: flex-end;
}

#product-amtAv,
#product-cost {
	font-size: 1vw;
}

.product-empty {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
}
